/*Fonts*/
$main-font: 'Work Sans', sans-serif;

/*Colors*/
$dark-text-color: #444444;
$middle-text-color: #555555;
$main-light-color: #ffffff;
$border-color: #eeeded;
$accent-color: #00c1c6;
$hover-button-color: #65e0da;
$focus-button-color: #a1fde8;
$slider-background-color: #f6f6f6;